@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4 pe-5 ps-5 pb-2" style="border-bottom: 2px solid black;">Task Managing Demo-Application</h1>
    <div class="row align-items-center mb-4 first-section">
        <div class="col-sm-5 text-start first-section">
            <h5>Manage your daily tasks</h5>
            <p>
                Manage your daily tasks with this application and see how much effort you are putting! 
                You can create, edit and delete them as you please. To do so, login with the <strong>Basic Account</strong> 
                and start managing your daily activities.
            </p>
        </div>
        <div class="col-sm-7">
            <img class="img-fluid" style="margin-left: 2px;" src="~/images/DailyTaskSnapshot.png" alt="Daily task management page snapshot" />
        </div>
    </div>
    <div class="row align-items-center mb-4 second-section">
        <div class="col-sm-5">
            <img class="img-fluid me-sm-5" src="~/images/EffortOverflow.png" alt="Effort overflow and error message" />
        </div>
        <div class="col-sm-7 text-start">
            <h5 class="text-center">
                Below the tasks there is a report section showing some information
            </h5>
            <ul class="list-group list-group-flush ms-sm-3">
                <li class="list-group-item text-center"><mark><i>Total effort for a specific day</i></mark></li>
                <li class="list-group-item text-center"><mark><i>Completion percentage</i></mark></li>
                <li class="list-group-item text-center"><mark><i>Percentage of how many tasks are in a particular category</i></mark></li>
            </ul>
            <p style="margin-top: 1rem;" class="ms-sm-3">
                If your effort is overflowing it will appear an error message and you will not be able 
                to make changes unless you mark some tasks as completed or make a change that brings back 
                the effort to an acceptable value!
            </p>
        </div>
    </div>
    <div class="row align-items-center mb-4 third-section">
        <div class="col-sm-5 text-start">
            <h5>Admin accounts can also manage task categories</h5>
            <p>
                When you are logged as an <strong>Admin</strong> you can access a special page 
                where you can create, edit and delete task categories. This allows to create
                tasks associated to the new category, but be careful, if you delete it, 
                the related tasks will be deleted as well! 
            </p>
        </div>
        <div class="col-sm-7">
            <img class="img-fluid" src="~/images/TaskCategoriesSnapshot.png" alt="Task categories management page snapshot" />
        </div>
    </div>
</div>
