@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mb-2 text-center">@ViewData["Title"]</h1>
<h5>Site Purpose</h5>
<p>
    This is a demo application and it was built <strong><mark>ONLY</mark></strong> for educational purposes
    and only to showcase my programming skills by developing a task management application using ASP.NET CORE MVC.
    This application is not meant for an everyday usage. This application is demonstrative.</p>
<h5>Target</h5>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-center">Myself, for educational purposes</li>
    <li class="list-group-item text-center">Employers, to see an actual project developed by me using ASP.NET CORE and eventually to ask technical questions</li>
    <li class="list-group-item text-center">Recruiters or any other figure that offers work opportunities, for the same reason stated above</li>
</ul>
<h5>Cookies</h5>
<p>
    This application use cookies only to take track of the account logged in, in this way is it possibile based
    on the account role to modify only the daily tasks (Basic User) or even the task categories (Admin)
    You will not have the possibility to create new accounts, the usage of the application is possible only
    through those defined by me. In this way, you will not need to insert any personal data or information.
</p>
<h5>Functionality Access</h5>
<p class="mb-0">
    When logged in you will be able to see the <strong>Daily Tasks</strong> nav link, and if you're logged with an Admin account,
    even the <strong>Task Categories</strong> nav link
</p>
<div class="container d-flex align-items-center justify-content-start">
    <img class="img-fluid" src="~/images/HeaderLinks.png" alt="Header links when logged in with an admin account" />
</div>
<p>
    To require access to the application, or if you have any doubts or questions, contact me at 
    <a href = "mailto: as.stefanama@gmail.com">My Email</a>
    </p>