@*
    Login page
*@
@using TaskManagement.ViewModels.Login;
@model Credentials
@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row align-items-center">
        <label class="col-sm-2 fw-bold" style="cursor: pointer;" asp-for="Username"></label> 
        <div class="col-sm-10">
            <input class="m-2 form-control" asp-for="Username" />
        </div>
    </div>
    <span class="text-danger" asp-validation-for="Username"></span>
    <div class="row align-items-center">
        <label class="col-sm-2 fw-bold" style="cursor: pointer;" asp-for="Password"></label> 
        <div class="col-sm-10">
            <input class="m-2 form-control" asp-for="Password" />
        </div>
    </div>
    <span class="text-danger" asp-validation-for="Password"></span>
    <div class="d-flex align-items-center justify-content-center m-2">
        <a class="btn btn-secondary me-2" asp-controller="Home">Back to Home Page</a>
        <button class="btn btn-primary ms-2" type="submit">Submit</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
