@*
    Login page
*@
@using TaskManagement.ViewModels.Login;
@model Credentials
@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="row">
        <label class="col m-2" asp-for="Username"></label> 
        <input class="col-2 m-2" asp-for="Username" />
    </div>
    <span asp-validation-for="Username"></span>
    <div>
        <label class="col m-2" asp-for="Password"></label> 
        <input class="col-2 m-2" asp-for="Password" />
    </div>
    <span asp-validation-for="Password"></span>
    <div class="row m-2">
        <a class="btn btn-light col" asp-controller="Home">Back to Home Page</a>
        <button class="btn btn-primary col" type="submit">Submit</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
