@*
    Login page
*@
@using TaskManagement.ViewModels.Login;
@model Credentials
@{
    ViewData["Title"] = "Login Page";
}

<div class="container login-content">
    <h1 class="mb-2 text-center">Login</h1>
    <h6 class="mb-4 text-center">With a Basic User or Admin account</h6>
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row align-items-center">
            <div class="col-sm-3 container d-flex flex-column align-items-center">
                <label class="fw-bold" style="cursor: pointer;" asp-for="Username"></label>
                <span class="text-danger" asp-validation-for="Username"></span>
            </div> 
            <div class="col-sm-9">
                <input class="m-2 form-control" asp-for="Username" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-3 container d-flex flex-column align-items-center">
                <label class="fw-bold" style="cursor: pointer;" asp-for="Password"></label> 
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-sm-9">
                <input class="m-2 form-control" type="password" asp-for="Password" />
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center m-2">
            <a class="btn btn-secondary me-2" asp-controller="Home">Back to Home Page</a>
            <button class="btn btn-success ms-2" type="submit">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
