@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/*Media Query*/

#warning-message {
    display: none;
}

@media only screen and (orientation:portrait) and (max-width: 600px) {
    #wrapper {
        display: none;
    }

    #warning-message {
        display: block;
    }
}

/*Styling*/

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.parent {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    height: 120px;
    width: 120px;
    background-color: rgba(255,255,255, 1);
    border-radius: 50%;
    position: relative;
}

.child::before {
    content: attr(data-percentage);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.report-title {
    display: inline;
    padding-bottom: 5px;
}

.title-container {
    margin-top: 10px;
}

.report-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Animations*/

.first-section {
    animation: fromRightAnimation 0.5s ease-out;
}

.third-section {
    animation: fromRightAnimation 0.5s ease-out;
}

@keyframes fromRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.second-section {
    animation: fromLeftAnimation 0.5s ease-out;
}

@keyframes fromLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.daily-tasks-content {
    animation: fadeIn 0.5s ease-out;
}

.task-categories-content {
    animation: fadeIn 0.5s ease-out;
}

.privacy-content {
    animation: fadeIn 0.5s ease-out;
}

.login-content {
    animation: fadeIn 0.5s ease-out;
}

.create-task {
    animation: fadeIn 0.5s ease-out;
}

.edit-task {
    animation: fadeIn 0.5s ease-out;
}

.delete-task {
    animation: fadeIn 0.5s ease-out;
}

.create-category {
    animation: fadeIn 0.5s ease-out;
}

.edit-category {
    animation: fadeIn 0.5s ease-out;
}

.delete-category {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}