@using System.Security.Claims;

@if (User.Identity.IsAuthenticated)
{
    Claim claim = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault();
    string Role = "Default";
    if (claim != null)
        Role = claim.Value;

    <div class="d-flex align-items-center">
        <strong>@User.Identity.Name (@Role)</strong>
        <a class="btn btn-danger ms-2" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>
}
else {
    <a class="btn btn-success" asp-controller="Login" asp-action="Index">Login</a>
}
