@*
    Page for editing task categories
*@
@model TaskCategory
@{
    ViewData["Title"] = "Edit Category";
}

<div class="container edit-category">
    <h1 class="mb-2">Edit Task Category</h1>
    <form method="post">
        @*hidden fields*@
        <input hidden asp-for="Id" />
        @*visible fields*@
        <div class="row align-items-center">
            <label class="col-sm-4 fw-bold" style="cursor: pointer;" asp-for="Name"></label>
            <div class="col-sm-8">
                <input class="m-2 form-control" asp-for="Name" />
            </div>
        </div>
        <div class="mb-2">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="row align-items-center">
            <label class="col-sm-4 fw-bold" style="cursor: pointer;" asp-for="Effort"></label>
            <div class="col-sm-8">
                <select class="m-2 form-control text-center" asp-for="Effort" style="cursor: pointer;">
                    <option value="">-- Select an option --</option>
                    <option value="1">Low</option>
                    <option value="1.25">Mid-Low</option>
                    <option value="1.5">Medium</option>
                    <option value="1.75">Mid-High</option>
                    <option value="2">High</option>
                </select>
            </div>
        </div>
        <div class="mb-2">
            <span class="text-danger" asp-validation-for="Effort"></span>
        </div>
        <div class="row align-items-center">
            <label class="col-sm-4 fw-bold" style="cursor: pointer;" asp-for="RgbaColor"></label>
            <div class="col-sm-8">
                <input type="color" class="form-control form-control-color" style="transform: translate(9px, 0);" title="Choose your color" asp-for="RgbaColor" />
            </div>
        </div>
        <div class="mb-3">
            <span class="text-danger" asp-validation-for="RgbaColor"></span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <button type="button" onclick="backToCategoryList()" class="btn btn-secondary me-2">Back To List</button>
            <button class="btn btn-success ms-2" type="submit" asp-controller="TaskCategories" asp-action="Edit">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
